/*body{padding:0;margin:0;background-color:#000000;}
*/
body, html, .main {
    height: 100%;background-color:#000000;
}

section {
    min-height: 100%;
}

#previousworks{
background-color:#000000;
}

#contact{
background-color:#021542;
}

img {max-width:100%;align:center;margin-left:auto;margin-right:auto;display:block;}

.overlay { background: rgba(2, 21, 66, 0.9) /* Green background with 30% opacity */}

.thumbnail { background-color:#021542;height:auto;text-align:center;font-size:18px; }

.thumbnail2 { background-color:#021542;height:auto;text-align:center;font-size:18px;color:#ffffff; }
.thumbnail2 a{color:#ffffff;}

.thumbnail p {color:#ffffff;font-size:12px;}

.gotop {position:fixed;}

.section {
  padding: 80px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  position: relative;
}
.section-header .section-title span {
  color: #0241e2;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #ff534b;
  font-size: 14px;
  font-weight: 400;
}
.section-header .lines {
  margin: auto;
width:300px;
  position: relative;
  border-top: 2px solid #ff534b;
  margin-top: 15px;
}
/*
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #4676fa;
  left: 27px;
}
*/